<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <profiles>
        <profile>
            <id>kunpeng</id>
            <repositories>
                <repository>
                    <id>kunpengmaven</id>
                    <name>kunpeng maven</name>
                    <url>https://mirrors.huaweicloud.com/kunpeng/maven/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>huaweicloud</id>
                    <name>huaweicloud maven</name>
                    <url>https://mirrors.huaweicloud.com/repository/maven/</url>
                    <releases><enabled>true</enabled></releases>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>kunpeng</activeProfile>
    </activeProfiles>

</settings>
