<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocha.springboot.mapper.EmployeeProfileMapper">
    <select id="selectAll" resultType="com.mocha.springboot.entity.EmployeeProfile">
        select * from employee_profile
        <where>
            <if test="name !=null"> and name like concat('%',#{name},'%')</if>
        </where>
        order by id desc
    </select>


    <insert id="insert" parameterType="com.mocha.springboot.entity.EmployeeProfile" useGeneratedKeys="true" keyProperty="id">
        insert into employee_profile (auth_id, name, avatar, sex, no, age, description, department_id, created_at)
        values (#{authId}, #{name}, #{avatar}, #{sex}, #{no}, #{age}, #{description}, #{departmentId}, #{createdAt})
    </insert>

    <update id="updateById" parameterType="com.mocha.springboot.entity.EmployeeProfile">
        update employee_profile set name = #{name},sex = #{sex},no = #{no},age = #{age},
                                    description = #{description}, department_id = #{departmentId},
                                    avatar = #{avatar}, created_at = #{createdAt}
        where id = #{id}
    </update>

</mapper>