<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocha.springboot.mapper.EmployeeMapper">
    <select id="selectAll" resultType="com.mocha.springboot.entity.Employee">
        select * from employee
        <where>
            <if test="name !=null"> and name like concat('%',#{name},'%')</if>
        </where>
        order by id desc
    </select>


    <insert id="insert" parameterType="com.mocha.springboot.entity.Employee">
        insert into employee (username,password,role,name,sex,no,age,description,department_id,avatar)
        value (#{username},#{password},#{role},#{name} ,#{sex},#{no},#{age},#{description},#{departmentId},#{avatar})
    </insert>

    <update id="updateById" parameterType="com.mocha.springboot.entity.Employee">
        update employee set username = #{username},password = #{password},role = #{role},name = #{name},sex = #{sex},no = #{no},
                            age = #{age},description = #{description}, department_id = #{departmentId},avatar = #{avatar}
        where id = #{id}
    </update>

</mapper>