<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocha.springboot.mapper.EmployeeAuthMapper">

    <insert id="insert" parameterType="com.mocha.springboot.entity.EmployeeAuth" useGeneratedKeys="true" keyProperty="id">
        insert into employee_auth (username, password, role, is_active, created_at)
        values (#{username}, #{password}, #{role}, #{isActive}, #{createdAt})
    </insert>

    <update id="updateById" parameterType="com.mocha.springboot.entity.EmployeeAuth">
        update employee_auth set username = #{username},password = #{password},role = #{role},
                                 is_active = #{isActive}, created_at = #{createdAt}
        where auth_id = #{authId}
    </update>

    <update id="updatePassword" parameterType="com.mocha.springboot.entity.EmployeeAuth">
        update employee_auth set password = #{password}
        where auth_id = #{authId}
    </update>

    <select id="selectAll" resultType="com.mocha.springboot.entity.EmployeeAuth">
        select * from employeeAuth
        <where>
            <if test="name !=null"> and name like concat('%',#{name},'%')</if>
        </where>
        order by auth_id desc
    </select>


    <select id="selectAllWithProfile" resultType="com.mocha.springboot.vo.EmployeeInfoVO">
        SELECT e.auth_id, e.username, e.role, e.is_active, e.created_at , e.last_login_at,
         p.name, p.sex, p.no, p.age, p.description, p.department_id,p.profile_id, p.avatar
        FROM employee_auth e
        LEFT JOIN employee_profile p ON e.auth_id = p.auth_id
        <where>
            <if test="username != null and username != ''">
                e.username like concat('%', #{username}, '%')
            </if>
        </where>
        ORDER BY e.auth_id DESC

    </select>

    <select id="selectProfileById" resultType="com.mocha.springboot.vo.EmployeeInfoVO">
        SELECT a.username,p.name, p.sex, p.no, p.age, p.description, p.department_id, p.avatar
        FROM employee_auth a
        LEFT JOIN employee_profile p ON a.auth_id = p.auth_id
        WHERE a.auth_id = #{authId}

    </select>

</mapper>